<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<welcome-file-list>
		<welcome-file>Welcome.html</welcome-file>
	</welcome-file-list>
	
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AuthenticateUser</servlet-name>
  	<display-name>AuthenticateUser</display-name>
  	<description></description>
  	<servlet-class>com.revature.banking.controller.AuthenticateUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerController</servlet-name>
  	<display-name>CustomerController</display-name>
  	<description></description>
  	<servlet-class>com.revature.banking.controller.CustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewBalanceController</servlet-name>
  	<display-name>ViewBalanceController</display-name>
  	<description></description>
  	<servlet-class>com.revature.banking.controller.ViewBalanceController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WithdrawController</servlet-name>
  	<display-name>WithdrawController</display-name>
  	<description></description>
  	<servlet-class>com.revature.banking.controller.WithdrawController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeController</servlet-name>
  	<display-name>EmployeeController</display-name>
  	<description></description>
  	<servlet-class>com.revature.banking.controller.EmployeeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthenticateEmployee</servlet-name>
  	<display-name>AuthenticateEmployee</display-name>
  	<description></description>
  	<servlet-class>com.revature.banking.controller.AuthenticateEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PrintCustomerController</servlet-name>
  	<display-name>PrintCustomerController</display-name>
  	<description></description>
  	<servlet-class>com.revature.banking.controller.PrintCustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchCustomerByIdController</servlet-name>
  	<display-name>SearchCustomerByIdController</display-name>
  	<description></description>
  	<servlet-class>com.revature.banking.controller.SearchCustomerByIdController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCustomerController</servlet-name>
  	<display-name>DeleteCustomerController</display-name>
  	<description></description>
  	<servlet-class>com.revature.banking.controller.DeleteCustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DepositController</servlet-name>
  	<display-name>DepositController</display-name>
  	<description></description>
  	<servlet-class>com.revature.banking.controller.DepositController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TransferAmountController</servlet-name>
  	<display-name>TransferAmountController</display-name>
  	<description></description>
  	<servlet-class>com.revature.banking.controller.TransferAmountController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ErrorHandlerController</servlet-name>
  	<display-name>ErrorHandlerController</display-name>
  	<description></description>
  	<servlet-class>com.revature.banking.exceptions.ErrorHandlerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCustomerByIdController</servlet-name>
  	<display-name>DeleteCustomerByIdController</display-name>
  	<description></description>
  	<servlet-class>com.revature.banking.controller.DeleteCustomerByIdController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCustomerByIdController</servlet-name>
  	<display-name>UpdateCustomerByIdController</display-name>
  	<description></description>
  	<servlet-class>com.revature.banking.controller.UpdateCustomerByIdController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AuthenticateUser</servlet-name>
  	<url-pattern>/AuthenticateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerController</servlet-name>
  	<url-pattern>/CustomerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewBalanceController</servlet-name>
  	<url-pattern>/ViewBalanceController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WithdrawController</servlet-name>
  	<url-pattern>/WithdrawController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeController</servlet-name>
  	<url-pattern>/EmployeeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthenticateEmployee</servlet-name>
  	<url-pattern>/AuthenticateEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PrintCustomerController</servlet-name>
  	<url-pattern>/PrintCustomerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchCustomerByIdController</servlet-name>
  	<url-pattern>/SearchCustomerByIdController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCustomerController</servlet-name>
  	<url-pattern>/DeleteCustomerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DepositController</servlet-name>
  	<url-pattern>/DepositController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TransferAmountController</servlet-name>
  	<url-pattern>/TransferAmountController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ErrorHandlerController</servlet-name>
  	<url-pattern>/ErrorHandlerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCustomerByIdController</servlet-name>
  	<url-pattern>/DeleteCustomerByIdController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCustomerByIdController</servlet-name>
  	<url-pattern>/UpdateCustomerByIdController</url-pattern>
  </servlet-mapping>
  
  
  	<error-page>
		<error-code>404</error-code>
		<location>/ErrorHandlerController</location>
	</error-page>

	<error-page>
		<error-code>405</error-code>
		<location>/ErrorHandlerController</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/ErrorHandlerController</location>
	</error-page>
	
	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/ErrorHandlerController</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.NumberFormatException</exception-type>
		<location>/ErrorHandlerController</location>
	</error-page>
	
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/ErrorHandlerController</location>
	</error-page>
	
</web-app>
