<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- SQL Dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		
		<!-- Database Connection Settings -->
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">root</property>
	 
		<!-- Connection Pool Size (built-in) -->
		<property name="hibernate.connection.pool.size">1</property>
	 
		<!-- show all generate SQL query -->
		<property name="show_sql">true</property>
	 
		<!-- Drop the existing tables and create new one --> 
		<property name="hbm2ddl.auto">update</property>
	 
		<!-- Mention here all the model classes along with their package name -->
		<mapping class="com.revature.banking.model.Customer"/> 
		<mapping resource="employee.hbm.xml"/>
	</session-factory> 
</hibernate-configuration>